* {
    padding: 0;
    margin: 0;
}
/* header section starts */
.container {
    max-width: 1320px;
    margin: 50px auto;
}

.banner {
    border-radius: 16px;
    background:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-position: cover;
    text-align: center;
    height: 600px;
}

.heading-title {
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    padding-left: 530px;
    padding-right: 530px;
}

.heading-title-2 {
    padding: 16px 344px 177px 344px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* header section ends  */
/* main section starts  */





/* main section ends  */