* {
    padding: 0;
    margin: 0;
}

/* header section starts */
.container {
    max-width: 1320px;
    margin: 50px auto;
}

.banner {
    border-radius: 16px;
    background:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-position: cover;
    text-align: center;
    height: 600px;
}

.heading-title {
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    padding-left: 530px;
    padding-right: 530px;
}

.heading-title-2 {
    padding: 16px 344px 177px 344px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* header section ends  */
/* main section starts  */

/* offer section start  */
.sales-offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 48px;
}

.offer-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-section-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 802.9px;
    height: 500px;
    margin-bottom: 120px;
}

/* offer section end  */
/* party invitation starts */

.party-invitaion-banner {
    display: flex;
    background:
        linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    height: 600px;
    margin-bottom: 120px;
}

.welcome-message {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    max-width: 642px;
    margin-top: 126px;
    margin-left: 126px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 697px;
    padding-top: 24px;
    padding-left: 126px;
    margin-bottom: 48px;
}

.party-invitation-banner-column>a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 126px;
    margin-bottom: 142px;
}

.second-column-image {
    width: 349.165px;
    height: 464.654px;
    margin-right: 108px;
    margin-top: 65px;
    margin-bottom: 65px;
}

/* Party invitation ends  */

/* party-event-detail-section start  */
.party-event-detail-section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
}

.party-event-detail {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.party-event-detail-section span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.btn-primary {
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;

}

.btn-primary a {
    color: #FFF;
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.join-now-button {
    text-align: center;
    margin-bottom: 126px;
}

/* party-event-detail-section ends  */

/* Holiday sale section starts */

.sales-header-first-part {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.sales-header-second-part>span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.sales-header-second-part {
    color: #070211;
    font-family: Merriweather;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.sales-header-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

}

.offer-tag-with-img {
    display: flex;
}

.offer-logo {}

.offer-lady {
    margin-left: 583px;
    margin-top: 85px;

}

.background {
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}

/* Holiday sale section ends  */
/* portfolio section starts  */
.header-first {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 16px;
}

.header-second {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.header-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    max-width: 896px;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}
/* .portfolio-images img:hover{
    border: 1px solid tomato;
} */

/* portfolio section ends  */
/* newsletter section starts */
.newsletter-section {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}

.newsletter-email-logo {
    text-align: center;

}

.logo {
    margin-top: 80px;
    margin-bottom: 40px;
}

.newsletter-heading {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.newletter-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.email-input {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 48px;
}

.input-button {
    display: flex;
    justify-content: center;
}

#input-size {
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 250px;
    border-radius: 50px 0px 0px 50px;
}

.button-newsletter {
    border-radius: 0px 50px 50px 0px;
    height: 64px;
    width: 210px;
    margin-top: 48px;
}

/* newsletter section ends  */
/* main section ends  */